.breadcrumb {
    margin: 0 0 $default-margin;
    padding: 15px 0;
    background-color: $grey;
    display: block;

    @include breakpoint(sm) {
        display: none;
    }

    &-list {
        padding: 0;
        margin: 0;
        background: none;
        font-size: 14px;
        overflow: hidden;
    }

    &-item {
        display: inline-block;

        a {
            color: $black;
        }
    }
}
