.social-follow {
    display: block;
    font-size: 0;
    line-height: 0;
    margin: 0 -5px;

    &--item {
        display: inline-block;
        margin: 0 5px 15px;

        a {
            @include border-radius(50%);
            display: block;
            width: 36px;
            height: 36px;
            text-indent: -99999px;
            overflow: hidden;
            background: $customer-color url('/assets/img/social-media.svg') no-repeat 0 0;
        }

        &__facebook {
            a {
                background-position: 0 0;

                &:hover {
                    background-color: $facebook-color;
                }
            }
        }

        &__twitter {
            a {
                background-position: 0 -36px;

                &:hover {
                    background-color: $twitter-color;
                }
            }
        }

        &__youtube {
            a {
                background-position: 0 -72px;

                &:hover {
                    background-color: $youtube-color;
                }
            }
        }

        &__linkedin {
            a {
                background-position: 0 -108px;

                &:hover {
                    background-color: $linkedin-color;
                }
            }
        }

        &__instagram {
            a {
                background-position: 0 -144px;

                &:hover {
                    background-color: $instagram-color;
                }
            }
        }

        &__googleplus {
            a {
                background-position: 0 -180px;

                &:hover {
                    background-color: $googleplus-color;
                }
            }
        }

        &__pinterest {
            a {
                background-position: 0 -216px;

                &:hover {
                    background-color: $pinterest-color;
                }
            }
        }

        &__newsletter {
            a {
                background-position: 0 -288px;

                &:hover {
                    background-color: $newsletter-color;
                }
            }
        }
    }
}

.social-share {
    display: block;
    flex-shrink: 0;
    text-align: center;
    padding: 15px 0 0;
    background-color: $white-dark;

    &--label {
        display: inline-block;
        margin: 0 5px 15px;

        @include breakpoint(sm) {
            display: block;
        }
    }

    &--list {
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin: 0;

        @include breakpoint(sm) {
            display: block;
        }
    }

    &--item {
        display: inline-block;
        margin: 0 5px 15px;

        a {
            position: relative;
            display: block;
            color: $white;
            font-size: 16px;
            line-height: 24px;
            padding: 6px 15px 6px 36px;

            @include breakpoint(sm) {
                width: 36px;
                height: 36px;
                padding: 0;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 36px;
                height: 36px;
                content: '';
                background: url('/assets/img/social-media.svg') no-repeat 0 0;
            }

            span {
                @include breakpoint(sm) {
                    display: none;
                }
            }
        }

        &__facebook {
            a {
                background-color: $facebook-color;

                &::before {
                    background-position: 0 0;
                }
            }
        }

        &__twitter {
            a {
                background-color: $twitter-color;

                &::before {
                    background-position: 0 -36px;
                }
            }
        }

        &__youtube {
            a {
                background-color: $youtube-color;

                &::before {
                    background-position: 0 -72px;
                }
            }
        }

        &__linkedin {
            a {
                background-color: $linkedin-color;

                &::before {
                    background-position: 0 -108px;
                }
            }
        }

        &__instagram {
            a {
                background-color: $youtube-color;

                &::before {
                    background-position: 0 -144px;
                }
            }
        }

        &__googleplus {
            a {
                background-color: $googleplus-color;

                &::before {
                    background-position: 0 -180px;
                }
            }
        }

        &__pinterest {
            a {
                background-color: $pinterest-color;

                &::before {
                    background-position: 0 -216px;
                }
            }
        }

        &__whatsapp {
            a {
                background-color: $whatsapp-color;

                &::before {
                    background-position: 0 -252px;
                }
            }
        }

        &__email {
            a {
                background-color: $email-color;

                &::before {
                    background-position: 0 -288px;
                }
            }
        }
    }
}

.social-mail-popup {
    display: none;

    .nivo-lightbox-content & {
        display: block;
    }
}
